:root {
  --primary: #9ecc54;
  --secondary: #6c757d;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
  --light: #f8f9fa;
  --dark: #343a40;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: var(--dark);
  color: var(--light);
}

.App {
  padding: 32px;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 32px;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary);
  margin-bottom: 16px;
}

.addToDo {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-bottom: 15px;
}

.addInput {
  background-color: #b1ca8d;
  border: none;
  outline: none;
  height: 2em;
  color: var(--dark);
  font-size: 1em;
}

.addInput::placeholder {
  color: var(--dark);
  font-size: 1em;
}

.submitToDo {
  position: relative;
  left: 6px;
  font-weight: 550;
  padding: 5px;
  border-radius: 10%;
  top: -2px;
  height: 36px;
}

.submitToDo:hover {
  background-color: #c8c8c8;
}

.todo {
  position: relative;
  background-color:var(--gray);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin-bottom: 16px;
  cursor: pointer;
}

.todo:hover {
  opacity: 0.8;
}

.todo .checkbox {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border-radius: 999px;
  background-color: #343a40;
  transition: 0.4s;
}

.todo.is-complete .checkbox {
  background-color: var(--success);
  background-image: linear-gradient(to bottom, #3bf566, #28a745);
}

.todo .text {
  font-size: 20px;
}

.todo.is-complete .text {
  text-decoration: line-through;
}

.todo .delete-todo {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: 600;
  color: var(--light);
  cursor: pointer;
  background-image: linear-gradient(to bottom, #f53b4b, #a72828);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}