:root {
  --primary: #9ecc54;
  --secondary: #6c757d;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
  --light: #f8f9fa;
  --dark: #343a40;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: var(--dark);
  color: var(--light);
}

.App {
  padding: 32px;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 32px;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary);
  margin-bottom: 16px;
}

.addToDo {
  display: flex;
  flex-direction: row;
  position: absolute;
  padding-bottom: 15px;
  top: 18em;
  z-index: 1000;
  left: 35%;
  justify-content: center;
  background: #8aa07e;
  border-radius: 20em;
  width: 22em;
  height: 6em;
  background-image: linear-gradient(to bottom, #8aa07e, #68795f);
  box-shadow: 5px 5px #000000;
}

.addToDobtn {
  position: sticky;
  top: 0;
  margin-left: 42.5em;
  scale: -0.9;
  cursor: pointer;
}

.addInput {
  background-color: #ffffff;
  box-shadow: inset 2px 2px #343a40;
  border: none;
  outline: none;
  height: 2em;
  color: var(--dark);
  font-size: 1em;
  position: relative;
  top: 1em;
  left: 6.6em;
  margin-left: -6em;
  padding-left: 5px;

}

.addInput::placeholder {
  color: var(--dark);
  font-size: 1em;
}

.submitToDo {
  position: relative;
  left: 6px;
  font-weight: 550;
  padding: 5px;
  border-radius: 10%;
  top: 56px;
  height: 29px;
  left: -4.699999999999999em;
  box-shadow: 1px 1px #343a40;
  background-image: linear-gradient(to bottom, #ffffff, #b9b9b9);
}

.submitToDo:hover {
  background-image: linear-gradient(to bottom, #ffffff, #959595);
}

.cancelToDo {
  position: relative;
  font-weight: 550;
  padding: 5px;
  border-radius: 10%;
  top: 56px;
  height: 28px;
  left: -3.699999999999999em;
  background-image: linear-gradient(to bottom, #f53b4b, #c03333);
  background-color: #d43056;
  color: floralwhite;
  box-shadow: 1px 1px #343a40;
}

.cancelToDo:hover {
  background-image: linear-gradient(to bottom, #f53b4b, #902323);
}

.todo {
  position: relative;
  background-color:var(--gray);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin-bottom: 16px;
  cursor: pointer;
}

.todo:hover {
  opacity: 0.8;
}

.todo .checkbox {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border-radius: 999px;
  background-color: #343a40;
  transition: 0.4s;
}

.todo.is-complete .checkbox {
  background-color: var(--success);
  background-image: linear-gradient(to bottom, #3bf566, #28a745);
}

.todo .text {
  font-size: 20px;
}

.todo.is-complete .text {
  text-decoration: line-through;
}

.todo .delete-todo {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: 600;
  color: var(--light);
  cursor: pointer;
  background-image: linear-gradient(to bottom, #f53b4b, #a72828);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}